@page "/catcollage"
@layout AdminLayout
@using Radzen
@inject NavigationManager NavManager

 @code {
       private bool IsShow   {get;set;} = true;
       private void Show()
       {
           IsShow =   !IsShow;
       }

 } 

<div style="">
<section>
  <div style="background-color: #333; overflow: hidden; padding: 3px; width:80%;">
    <!--- all links for nav bar-->
    <a href="/landing" style="font-size: 24px;  display: flex; color: white; text-align: center; float:left; padding-left: 20px;padding-right: 20px; padding-top: 5px; padding-bottom: 5px;" >Home</a>
    <a href="/cart" style="font-size: 24px;  display: flex; color: white; text-align: center; float:left; padding-left: 20px;padding-right: 20px; padding-top: 5px; padding-bottom: 5px;">Cart</a>
    <a href="/Gallery" style="font-size: 24px;  display: flex; color: white; text-align: center; float:left; padding-left: 20px;padding-right: 20px; padding-top: 5px; padding-bottom: 5px;">Gallery</a>
    <a href="/Contact Me" style="font-size: 24px;  display: flex; color: white; text-align: center; float:left; padding-left: 20px;padding-right: 20px; padding-top: 5px; padding-bottom: 5px;">Contact Me</a>
  </div>
  </section>
<section>
  <hr style="width:80%;">
  <div style=" width:80%;height: 300px;   background-image: url('trees.png');   background-size: cover;   display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 style="font-size: 500%; color: green;"> Cats</h1>
  </div>
  <hr style="width:80%;">
</section>

    <div style="width:75%; display: flex; flex-direction: row; align-items:flex-end; justify-content: space-between;">
      
      <div style="display: flex; flex-direction: row; align-items:baseline; justify-content: space-between;">
        <button @onclick="@Show">Show/Hide Name And Prices</button>


      </div>
      <div>
        <a href="/filterzero"> filter </a>
      </div>
    </div>

    <hr style="width:80%;">


    <div style="width: 80%">
      <div class="row">
        <div class ="column">
            <div  @onclick="@(()=>NavManager.NavigateTo("/picture"))">
              <img src="persian1.png"  width="100%"/>
              <p hidden="@IsShow">I am Blazor $25</p>
            </div>
            <div  @onclick="@(()=>NavManager.NavigateTo("/picture"))">
            <img src="MaineCoon1.png"  width="100%" />
            <p hidden="@IsShow">I am Blazor $25</p>
            </div>
            <div  @onclick="@(()=>NavManager.NavigateTo("/picture"))">
            <img src="bengal1.webp"  width="100%" />
            <p hidden="@IsShow">I am Blazor $25</p>
            </div>
            <div  @onclick="@(()=>NavManager.NavigateTo("/picture"))">
            <img src="ragdoll1.jpg"  width="100%" />
            <p hidden="@IsShow">I am Blazor $25</p>
            </div>
            
        </div>
        <div class ="column">
        <div  @onclick="@(()=>NavManager.NavigateTo("/picture"))">
            <img src="ragdoll2.jpg"  width="100%" />
            <p hidden="@IsShow">I am Blazor $25</p>
            </div>
        <div  @onclick="@(()=>NavManager.NavigateTo("/picture"))">
        <img src="bengal2.jpg" asp-append-version="true" width="100%" />
            <p hidden="@IsShow">I am Blazor $25</p>
        </div>
            <div @onclick="@(()=>NavManager.NavigateTo("/picture"))">
            <img src="persian2.png" asp-append-version="true" width="100%" />
            <p hidden="@IsShow">I am Blazor $25</p>
            </div>
            <div @onclick="@(()=>NavManager.NavigateTo("/picture"))">
            <img src="MaineCoon2.png" asp-append-version="true" width="100%" />
            <p hidden="@IsShow">I am Blazor $25</p>
            </div>
            
        </div>
        <div class ="column">
        <div  @onclick="@(()=>NavManager.NavigateTo("/picture"))"><img src="MaineCoon3.png" asp-append-version="true" width="100%"/>
            <p hidden="@IsShow">I am Blazor $25</p></div>
            <div  @onclick="@(()=>NavManager.NavigateTo("/picture"))"><img src="ragdoll3.jpg" asp-append-version="true" width="100%"/>
            <p hidden="@IsShow">I am Blazor $25</p></div>
        <div @onclick="@(()=>NavManager.NavigateTo("/picture"))"><img src="bengal3.jpg" asp-append-version="true" width="100%"/>
            <p hidden="@IsShow">I am Blazor $25</p></div>
        <div @onclick="@(()=>NavManager.NavigateTo("/picture"))"><img src="persian3.jpg" asp-append-version="true" width="100%"/>
            <p hidden="@IsShow">I am Blazor $25</p></div>

            
        </div>
        <div class ="column">
        <div @onclick="@(()=>NavManager.NavigateTo("/picture"))"><img src="MaineCoon4.png" asp-append-version="true" width="100%"/>
            <p hidden="@IsShow">I am Blazor $25</p></div>
        <div @onclick="@(()=>NavManager.NavigateTo("/picture"))"><img src="persian4.jpg" asp-append-version="true" width="100%"/>
            <p hidden="@IsShow">I am Blazor $25</p></div>
        <div @onclick="@(()=>NavManager.NavigateTo("/picture"))"><img src="bengal4.webp" asp-append-version="true" width="100%"/>
            <p hidden="@IsShow">I am Blazor $25</p></div>
        <div @onclick="@(()=>NavManager.NavigateTo("/picture"))"><img src="ragdoll4.jpg" asp-append-version="true" width="100%"/>
            <p hidden="@IsShow">I am Blazor $25</p></div>
        </div>
        </div>
      </div>
    </div>


<div>
  <hr style="width:80%;">
</div>

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>