@page "/"
@layout AdminLayout
@using System.Globalization
<PageTitle>Index</PageTitle>

<!--TOOLTIP-->
@*<div class="popup" style="height:40vh; width:60vw;top:30vh; right:20vw;">
</div>
*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="sales-sum">
                <h5 class="fw-bold">Alex, you made 5 sales since last visit!</h5>
            </div>
        </div>
        <div class="col-md-2">
            <div class="sales-sum">
                <h3>Sales</h3>
                <h4>12</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="sales-sum">
                <h3>Revenue</h3>
                <h4>$512</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="sales-sum">
                <h3>Views</h3>
                <h4>201</h4>
            </div>
        </div>
        <div class="col-md-2 d-flex align-items-baseline" style="padding-top : 25px;">
            <button class="btn btn-success"> View all listings </button>
        </div>

    </div>

    <!--CHART-->


    <div class="row p-3">


        <div class="col-md-6 sales-chart">
            <RadzenChart Style="height:30vh">
                <RadzenLineSeries Smooth="@smooth" Data="@revenue2019" CategoryProperty="Date" Title="2019" LineType="LineType.Dashed" ValueProperty="Revenue">
                    <RadzenMarkers MarkerType="MarkerType.Square" />
                </RadzenLineSeries>
                <RadzenLineSeries Smooth="@smooth" Data="@revenue2020" CategoryProperty="Date" Title="2020" ValueProperty="Revenue">
                    <RadzenMarkers MarkerType="MarkerType.Circle" />
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                <RadzenValueAxis Formatter="@FormatAsUSD">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Monthly Sales" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-5 sales-chart">
            Most View Categories
            <RadzenChart Style="height:30vh">
                <RadzenPieSeries Data="@revenue" title="View" CategoryProperty="Category" ValueProperty="View" />
                <RadzenLegend Position="LegendPosition.Bottom" />
            </RadzenChart>
        </div>

    </div>

    <!-- EXPORT BUTTON -->
    <div class="row d-flex p-3">
        @*<div class="col-1" style="align-self: flex-end">
            <button class="btn-close-white">Export</button>
            </div>*@
        <div style="margin:auto; width:auto">
            Top: &nbsp;
            <label for="keyword"> Keywords</label>
            <input type="radio" id="keywords" name="top" value="keyword">&nbsp;
            <label for="photos"> Photos</label>
            <input type="radio" id="photos" name="top" value="photos"> &nbsp;
            <label for="categories"> Categories</label>
            <input type="radio" id="categories" name="top" value="categories">

        </div>

    </div>
    <!--PREVIEW TABLE-->
    <div class="row">
        <TrendTable />
    </div>
</div>


@code {

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }

    class DataItem
    {
        public string Category { get; set; }
        public double View { get; set; }
    }

    DataItem[] revenue = new DataItem[] {
        new DataItem
        {
            Category = "Cat",
            View = 300
        },
        new DataItem
        {
            Category = "Dog",
            View= 200
        },
        new DataItem
        {
            Category= "Street",
            View= 100
        },
        new DataItem
        {
            Category = "Others",
            View= 250
        },
    };

    bool smooth = false;

    class DataItemRevenue
    {
        public DateTime Date { get; set; }
        public double Revenue { get; set; }
    }

    DataItemRevenue[] revenue2019 = new DataItemRevenue[] {
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-01-01"),
            Revenue = 2340
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-02-01"),
            Revenue = 2690
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-03-01"),
            Revenue = 2330
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-04-01"),
            Revenue = 2440
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-05-01"),
            Revenue = 2140
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-06-01"),
            Revenue = 2530
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-07-01"),
            Revenue = 2740
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-08-01"),
            Revenue = 2840
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-09-01"),
            Revenue = 2730
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-10-01"),
            Revenue = 2820
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-11-01"),
            Revenue = 2890
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-12-01"),
            Revenue = 2940
        }
    };

    DataItemRevenue[] revenue2020 = new DataItemRevenue[] {
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-01-01"),
            Revenue = 3340
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-02-01"),
            Revenue = 3690
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-03-01"),
            Revenue = 3330
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-04-01"),
            Revenue = 3440
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-05-01"),
            Revenue = 3140
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-06-01"),
            Revenue = 3530
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-07-01"),
            Revenue = 3740
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-08-01"),
            Revenue = 3840
        },
        new DataItemRevenue
        {
            Date = DateTime.Parse("2019-09-01"),
            Revenue = 3730
        },

    };

}